<header>
      <p>BlackberryBirch Equestrian Drill Editor</p>
      <!--button fxFlex="30" class="btn btn-primary login-button" (click)="login()">
        <span [ngClass]="loginService.isLoggedIn ? 'bi bi-door-closed' : 'bi-door-open'"></span>
        <span>
          <ng-container *ngIf="loginService.isLoggedIn"> Logout </ng-container>
          <ng-container *ngIf="!loginService.isLoggedIn"> Login </ng-container>
          <ng-container>{{ loginService.displayName }}</ng-container>
        </span>
      </button-->
</header>