<div class="filmstrip">
    <app-frame class="filmstrip-cell"></app-frame>
    <app-frame class="filmstrip-cell"></app-frame>
    <app-frame class="filmstrip-cell" [selected]="true"></app-frame>
    <app-frame class="filmstrip-cell"></app-frame>
    <app-frame class="filmstrip-cell"></app-frame>
    <app-frame class="filmstrip-cell"></app-frame>
    <app-frame class="filmstrip-cell"></app-frame>
    <app-frame class="filmstrip-cell"></app-frame>
    <app-frame class="filmstrip-cell"></app-frame>
</div>