@use '@angular/material' as mat;
@import 'firebaseui/dist/firebaseui.css';
@import '@angular/material/prebuilt-themes/purple-green.css';

@include mat.elevation-classes();
@include mat.app-background();

/* You can add global styles to this file, and also import other style files */
html {
    display: grid;
    height: 100%;
}
body {
    margin: 0px;
}